<%
layout(_view.get('_layout/content'));

script('front/vendor/front.min.js');
script('front/script/module.js');

const dataUrl = _url('/api/base/data/');
const metaUrl = _url('/api/base/meta/');
%>
<div class="signboard alert-warning alert">
    Модуль демонстрирует доступ к функционалу и данным приложения через AJAX-запросы
    для создания пользовательских веб-интерфейсов.
</div>
<div class="front"
     data-guest="<%- _controller.user.isGuest() %>"
     data-user="<%- _controller.user.getId() %>"
     data-data-url="<%- dataUrl %>"
     data-meta-url="<%- metaUrl %>">

    <%- include('./_main') %>
    <%- include('./_member') %>
    <%- include('./_toast') %>
</div>